/backend/dataset-resources/Encoded Dataset/
/backend/dataset-resources/KERN/
/backend/dataset-resources/single file dataset


/backend/generated-melodies/
/backend/.idea/
/backend/uploaded-files/
/backend/model-resources/Model Checkpoints/
/backend/failed_generations.txt
/.idea/.name

/backend/test.py
