body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(30, 30, 30);
    white-space: nowrap;
}

h1{
    position: absolute;
    font-size: 3vh;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h4{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    color: #464646;

}

a:link {
    color: #505050;
    text-decoration: none;
}

a:visited {
    color: #505050;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #505050;
    text-decoration: underline;
}

/*#lower-screen-area{*/
/*    position: absolute;*/
/*    top: 66%;*/
/*    left: 50%;*/
/*    transform: translate(-50%);*/
/*    width: 82%;*/
/*    height: 25%;*/
/*    border-radius: 4px;*/
/*    background-color: #282828;*/

/*}*/

#info{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vh;
    font-weight: lighter;
    color: #464646;

}

webaudio-pianoroll{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}


#generate-button {
    position:absolute;
    top: 75%;
    left: 55.25%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 5%;
    font-size: min(2vh, 2.2vw);

    color: white;
    font-weight: bold;
    background-color: #6200EE;
    border: none;
    border-radius: 3px;

}

#clear-button{
    position:absolute;
    top: 75%;
    left: 44.75%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 5%;
    font-size: min(2vh, 2.4vw);


    color: white;
    font-weight: bold;
    background-color: hsl(40, 100%, 47%);
    border: none;
    border-radius: 3px;

}

#clear-button:hover{
    background-color: hsl(40, 100%, 38%);
}

#generate-button:hover {
    background-color: hsl(265, 100%, 38%);
}

#play-button {
    position:absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 4%;
    height: 5%;
    font-size: min(2.1vh, 2.3vw);

    color: white;
    font-weight: bold;
    background-color: hsl(13, 100%, 47%);
    border: none;
    border-radius: 3px;
}

#play-button:hover {
    background-color: hsl(13, 100%, 38%);
}

#back-button {
    position:absolute;
    top: 69%;
    left: 45.5%;
    transform: translate(-50%, -50%);

    width: 4%;
    height: 5%;
    font-size: min(2.1vh, 2.3vw);

    color: white;
    font-weight: bold;
    background-color: hsl(13, 100%, 47%);
    border: none;
    border-radius: 3px;
}

#back-button:hover {
    background-color: hsl(13, 100%, 38%);
}

#loop-button {
    position:absolute;
    top: 69%;
    left: 54.5%;
    transform: translate(-50%, -50%);

    width: 4%;
    height: 5%;
    font-size: min(2.1vh, 2.3vw);

    color: white;
    font-weight: bold;
    background-color: hsl(13, 100%, 47%);
    border: none;
    border-radius: 3px;
}

#loop-button:hover {
    background-color: hsl(13, 100%, 38%);
}


.param-container{
    border-radius: 4px;
    background-color: #464646;
    width: 10%;
    height: 5%;
    transform: translate(-50%, -50%);

    position:absolute;
    left: 85%;
}

#temp-container {
    top: 69%;
    font-size: min(1.7vh,0.9vw);
}

#len-container{
    top: 75%;
    font-size: min(1.7vh,0.9vw);
}


#temp-readout {
    position: absolute;
    top: 8%;
    left: 10%;
}

#len-readout{
    position: absolute;
    top: 8%;
    left: 10%;
}

#temp-number{
    font-family: monospace;
    font-weight: normal;
}

#len-number{
    font-family: monospace;
    font-weight: normal;
}

#temp-slider {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%; /* Full-width */
    height: 5%;
}

#len-slider {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%; /* Full-width */
    height: 5%;
}