body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(30,30,30);
    white-space: nowrap;
}

#inner-text {
    position: absolute;
    border-radius: 5px;
    font-size: 2vh;
    padding: 3%;
    padding-top: 0%;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    background-color: #312f31;
}

h1{
    margin-bottom: 1%;
}

#please-wait-text{
    font-size: 1.5vh;
    font-weight:lighter;
    color: rgb(153, 153, 153);
    padding-top: 0;
    padding-bottom: 0%;
    margin-top: 0%;

}

#loading-gif{
    height: 16vh;
    padding-top: 0;
    padding-bottom: 2%;
}

#return-button{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    font-size: min(2vh, 2.2vw);
    color: white;
    font-weight: bold;
    background-color: #f63a3a;
    border: none;
    border-radius: 3px;
    padding: 1% 2%;
    margin-bottom: 2%;

}

#return-button:hover{
    background-color: #da2b2b;
}

#gen-id{
    position:absolute;
    bottom: 1%;
    right:47%;
    font-size: 1vh;
    font-weight: normal;

    padding-top: 0;
    padding-bottom: 2%;
    
}


